body {
    background-color: #393737;
  }

.navbar {
    text-align: center;
    color: #5a5a5a
}

.desc {
    text-align: center;
    color: white
}

a {
    text-decoration: none;
    color:#CAA664;
    word-spacing: 30px;
   }
a.ex1:hover, a.ex1:active {border-radius: 1px; background: #5a5a5a;}
a.ex2:hover, a.ex2:active {border-radius: 1px; background: #5a5a5a;}
a.ex3:hover, a.ex3:active {border-radius: 1px; background: #5a5a5a;}
a.ex4:hover, a.ex4:active {border-radius: 1px; background: #5a5a5a;}

img.pic {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
    margin-left: auto;
     margin-right: auto;
    width: 50%;
    }

.staffing {
    text-align: center;
    color: white;
}

img.gfx {
    border-radius: 50%

}